<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.2/sketchy/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <style>
    body, html {
      height: 100%;
    }
  </style>
</head>
<body class="d-flex justify-content-center align-items-center position-relative">
  <div class="background-overlay"></div>

  <div class="login-container position-relative">

  <div class="w-100" style="max-width: 700px;">
    <h1 class="text-center mb-4">Iniciar sesión</h1>

    <% if (error) { %>
      <div class="alert alert-danger"><%= error %></div>
    <% } %>

    <form method="POST" action="/login">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" name="password" class="form-control" required />
      </div>
      <button class="btn btn-info w-100">Entrar</button>
    </form>
  </div>
</div>
</body>
</html>
